# ------------- app settings -------------
APP_NAME="Trading Data Hub"
APP_DESCRIPTION="FastAPI Trading Application"
APP_VERSION="0.1"
CONTACT_NAME="Haku"
CONTACT_EMAIL="haku@example.com"
LICENSE_NAME="MIT"

# ------------- database (Neon) -------------
POSTGRES_USER="xx"
POSTGRES_PASSWORD="xx"
POSTGRES_SERVER="xxx"
POSTGRES_PORT=5432
POSTGRES_DB="trading-data-hub"
POSTGRES_ASYNC_PREFIX="postgresql+asyncpg://"

# ------------- crypt -------------
SECRET_KEY=c5xxx9
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ------------- admin -------------
ADMIN_NAME="admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_USERNAME="test"
ADMIN_PASSWORD="Test!@123"

# ------------- redis cache -------------
REDIS_CACHE_HOST="localhost"
REDIS_CACHE_PORT=6379

# ------------- redis queue -------------
REDIS_QUEUE_HOST="localhost"
REDIS_QUEUE_PORT=6379

# ------------- redis rate limit -------------
REDIS_RATE_LIMIT_HOST="localhost"
REDIS_RATE_LIMIT_PORT=6379

# ------------- client side cache -------------
CLIENT_CACHE_MAX_AGE=60

# ------------- CORS -------------
CORS_ORIGINS=["*"]
CORS_METHODS=["*"]
CORS_HEADERS=["*"]

# ------------- environment -------------
ENVIRONMENT="local"

# ------------- first tier -------------
TIER_NAME="free"

# ------------- Proxy -------------
PROXY_LIST=http://8xxxQ:8yyy9@xxx.com:1234

# financial stock data api
ALPHA_VANTAGE_API_KEY=YxxxxE
FMP_API_KEY=2nxxxa










